.wr {
	background: transparent;
}

.headerMenu {
	display: flex;
	list-style: none;
	gap: 8px;
}

.headerMenu li:nth-child(2) {
	margin-left: auto;
}

.headerMenu a {
	text-decoration: none;
}

.activeLink {
	color: red;
}

.icon {
  width: 20px;
  height: 20px;
  background-image: url('../../assets/cart.svg');
}
